<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2196f3">
    <meta name="description" content="{% block page_desc %}{% endblock %}">
    <meta name="keywords" content="{% block page_keywords %}{% endblock %}">
    <link rel="stylesheet" href="css/framework7.bundle.rtl.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.png">
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<!-- App root element -->
{% include "login.twig" %}

<div id="app">
    <div class="popover popover-links">
        <div class="popover-inner">
            <div class="list">
                <ul>
                    <li><a class="list-button item-link profileLink external" href="#">سفارشات من</a></li>
                    <li><a class="list-button item-link profileLink external" href="address">آدرس های من</a></li>
                    <li><a class="list-button item-link profileLink external" href="profile">ویرایش پروفایل</a></li>
                    <li><a class="list-button item-link profileLink external" href="password">تغییر رمز</a></li>
                    <li><a class="list-button item-link profileLink external" href="logout">خروج</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-right panel-right-1 panel-cover" data-swipe-only-close="true">
        <div class="block-title">دسته بندی محصولات</div>
        <div class="page-content">
            {% include "submenu.twig" with {'children':tree,'root':'1'} %}
        </div>
    </div>
    <div class="panel panel-right panel-right-2 panel-cover" data-swipe-only-close="true">
        <div class="block-title">فیلتر محصولات</div>
        <div class="page-content padding">
            <div class="list no-hairlines">
                <ul id="filterPanel"></ul>
            </div>
        </div>
    </div>
    {% include "cart.twig"  %}
    <div class="view view-main">
        <div data-name="home" class="page">
            {% include "header.twig"  %}
            {% include "fab.twig"  %}
            {% include "footer.twig"  %}
            <!-- Scrollable page content -->
            <div class="page-content">
                {% block content %}
                {% endblock %}
                <br/><br/>
            </div>
        </div>
    </div>
    {% include "search.twig"  %}
    {% include "contact.twig"  %}
    {% include "enamad.twig"  %}
</div>
</div>
<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/underscore-min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/framework7.bundle.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        updateCount();
        app.autocomplete.create({
            inputEl: '#query',
            openIn: 'dropdown',
            preloader: true,
            valueProperty: 'id',
            textProperty: 'text',
            updateInputValueOnSelect: false,
            limit: 8,
            on: {
                change: function (value) {
                    var id = value[0].id;
                    var name = value[0].name;
                    window.location = name.replaceAll(" ", "-") + "-" + id + "-htm";
                }
            },
            source: function (query, render) {
                var autocomplete = this;
                var results = [];
                if (query.length === 0) {
                    render(results);
                    return;
                }
                autocomplete.preloaderShow();
                app.request({
                    url: 'search/' + query,
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].name.toLowerCase().indexOf(query.toLowerCase()) >= 0) results.push(data[i]);
                        }
                        autocomplete.preloaderHide();
                        render(results);
                    }
                });
            }
        });
        $$(".search-sheet").on("sheet:open", function () {
            $("#query").focus();
        });
        $$(".loginPop").on("popup:open", function () {
            $("#loginBlock").removeClass("hidden");
            $("#registerBlock").addClass("hidden");
            $("#forgetBlock").addClass("hidden");
            $("#txtLoginEmail").focus();
        });
        $$(".panel-left-1").on("panel:open", function () {
            updateCart();
        });
        $("#btnGoRegister").click(function () {
            $("#loginBlock").addClass("hidden");
            $("#forgetBlock").addClass("hidden");
            $("#registerBlock").removeClass("hidden");
            $("#txtFname").focus();
        });
        $("#btnGoForget").click(function () {
            $("#loginBlock").addClass("hidden");
            $("#forgetBlock").removeClass("hidden");
            $("#registerBlock").addClass("hidden");
            $("#txtForgetEmail").focus();
        });
        $(".backLogin").click(function () {
            $("#loginBlock").removeClass("hidden");
            $("#registerBlock").addClass("hidden");
            $("#forgetBlock").addClass("hidden");
            $("#txtLoginEmail").focus();
        });
        $("#btnLogin").click(function () {
            $.ajax({
                type: "POST",
                url: "dologin",
                data: $("#loginForm").serialize(),
                success: function (response) {
                    location.reload();
                },
                error: function (response) {
                    $("#loginMessage").html(response.responseJSON.error);
                }
            });
        });
        $("#btnRegister").click(function () {
            $.ajax({
                type: "POST",
                url: "save_user",
                data: $("#registerForm").serialize(),
                success: function (response) {
                    location.reload();
                },
                error: function (response) {
                    $("#registerMessage").html(response.responseJSON.error);
                }
            });
        });
        $("#btnForget").click(function () {
            $.ajax({
                type: "POST",
                url: "forget",
                data: $("#forgetForm").serialize(),
                success: function (response) {
                    debugger
                    app.popup.get(".loginPop").close();
                    notify("لینک تغییر رمز به ایمیل شما ارسال شد.")
                },
                error: function (response) {
                    debugger
                    $("#forgetMessage").html(response.responseJSON.error);
                }
            });
        });
    });

    function updateCart() {
        let cart = getCart();
        $("#cartItems").html("");
        let sum = 0;
        for (let key in cart) {
            let product = cart[key];
            sum += (product.sell_price * product.amount);
            let li = $("<li></li>");
            let a = $("<a href='#' class='item-content'></a>");
            let img = $("<div class='item-media'><img alt='" + product.name + "' title='" + product.name + "' src='" + product.image + "' width='80'/></div>");
            let inner = $("<div class='item-inner'></div>");
            let row = $("<div class='item-title-row'></div>");
            let title = $("<div class='item-title' style='font-size: 10pt;'>" + product.name + "</div>");
            let body = $("<div class='item-text'>" + formatPrice(product.sell_price * product.amount) + " تومان" + "</div>");
            let stepper = $("<div class='stepper stepper-small stepper-raised' style='margin-top: 5px;'></div>");
            inner.data("productId", product.id);
            let minus = $("<div class='stepper-button-minus'></div>");
            let wrap = $("<div class='stepper-input-wrap'><input type='text' value='" + product.amount + "' readonly/></div>");
            let plus = $("<div class='stepper-button-plus'></div>");
            stepper.append(minus);
            stepper.append(wrap);
            stepper.append(plus);
            row.append(title);
            inner.append(row);
            inner.append(body);
            inner.append(stepper);
            a.append(img);
            a.append(inner);
            li.append(a);
            $("#cartItems").append(li);
            app.stepper.create({
                el: stepper,
                on: {
                    change: function (cc) {
                        let id = $(cc.el).parent().data().productId;
                        if (cc.value > 0) {
                            changeProductCount(id, cc.value);
                            updateCart();
                        } else {
                            removeFromCart(id);
                            updateCart();
                        }
                    }
                }
            });
        }
        $("#cartTotal").html("");
        if (sum > 0) {
            let sp1 = $("<span>مبلغ قابل پرداخت: </span>");
            let sp2 = $("<strong style='color: var(--f7-button-text-color,var(--f7-theme-color))'>" + formatPrice(sum) + " تومان</strong>");
            $("#cartTotal").append(sp1);
            $("#cartTotal").append(sp2);
        }
    }

    function formatPrice(val) {
        return val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    }

    function notify(message) {
        let notification=app.notification.create({
            text:message,
            closeTimeout:2500,
            closeOnClick:true,
            on:{
                close:function () {
                }
            }

        });
        notification.open();
    }
</script>

{% block scripts %}{% endblock %}
</body>
</html>
