<div class="sheet-modal trust-sheet" style="height: auto;--f7-sheet-bg-color: #fff;">
    <div class="sheet-modal-inner">
        <div class="page-content">
            <div class="block">
                <div class="row">
                    <div class="col-50 align-center">
                        <a target="_blank"
                           href="https://trustseal.enamad.ir/?id=155762&amp;Code=M30UaW6VpOpAL7pvpoKW">
                            <!--    <img src="https://Trustseal.eNamad.ir/logo.aspx?id=155762&amp;Code=M30UaW6VpOpAL7pvpoKW" alt="" style="cursor:pointer" id="M30UaW6VpOpAL7pvpoKW">-->
                            <img src="img/enamad.png"
                                 alt="" style="cursor:pointer;width: 200px;height: 200px;"
                                 id="M30UaW6VpOpAL7pvpoKW">
                        </a>
                    </div>
                    <div class="col-50 align-center">
                        <!--<img id="jxlzesgtwlaojzpeapfuesgtsizp" style="cursor:pointer" onclick="window.open('https://logo.samandehi.ir/Verify.aspx?id=1047509&amp;p=rfthobpdaodsjyoedshwobpdpfvl','Popup','toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30')" alt="logo-samandehi" src="https://logo.samandehi.ir/logo.aspx?id=1047509&amp;p=nbpdlymashwlyndtujynlymabsiy">-->
                        <img id="jxlzesgtwlaojzpeapfuesgtsizp" style="cursor:pointer"
                             onclick="window.open('https://logo.samandehi.ir/Verify.aspx?id=1047509&amp;p=rfthobpdaodsjyoedshwobpdpfvl','Popup','toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30')"
                             alt="logo-samandehi" src="img/resaneh.png">
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>