<div class="fab" style="position: absolute;left: 5px; bottom: 55px;">
    <a href="#">
        <i class="fas fa-share-alt icon socialIcon"></i>
        <i class="fas fa-times socialIcon"></i>
    </a>
    <div class="fab-buttons fab-buttons-top color-blue">
        <a target="_blank" href="https://{{ common.telegram }}" class="external">
            <div class="fab fa-telegram socialIcon"></div>
        </a>
        <a target="_blank" href="https://{{ common.instagram }}" class="color-purple external">
            <div class="fab fa-instagram socialIcon"></div>
        </a>
        <a target="_blank" href="https://{{ common.whatsapp }}" class="color-green external">
            <div class="fab fa-whatsapp socialIcon"></div>
        </a>
    </div>
</div>

<div id="filterFab" class="fab hidden" style="position: absolute;right: 5px; bottom: 55px;">
    <a class="panel-open link" data-panel=".panel-right-2">
        <i class="fas fa-filter icon" style="font-size: 16pt;"></i>
    </a>
</div>