<div class="toolbar toolbar-bottom">
    <div class="toolbar-inner">
        <a href="#" data-sheet=".contact-sheet" class="link sheet-open">
            <i class="fa fa-phone"></i>
            <span>تماس با ما</span>
        </a>
        <a class="external" href="https://{{ common.app_domain }}"
           style="color: #4a4a4a;font-family: IRANSansMedium;">
            {{ common.footer_desc }}
        </a>
        <a href="#" data-sheet=".trust-sheet" class="link sheet-open">
            <span>نماد اعتماد</span>
            <i class="fa fa-check"></i>
        </a>
    </div>
</div>