{% extends 'base.twig' %}
{% block title %}تغییر رمز  {{ user.fname }} {{ user.lname }}{% endblock %}
{% block styles %}
{% endblock %}

{% block content %}
    <div class="block inset">
        <form id="profileForm" action="change-current-password" method="post" >
            <div class="list no-hairlines">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">رمز جدید</div>
                            <div class="item-input-wrap">
                                <input id="txtPassword" type="password" name="password" placeholder="رمز جدید" value="">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">تکرار رمز</div>
                            <div class="item-input-wrap">
                                <input type="password" name="passwordRep" placeholder="تکرار رمز" value="">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-70 errorMessage" id="loginMessage"></div>
                <div class="col-30">
                    <button type="submit" class="button button-active">تغییر رمز</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtPassword").focus();
        });
    </script>
{% endblock %}
