<div class="sheet-modal sheet-modal-top search-sheet" style="height: auto;--f7-sheet-bg-color: #fff;">
    <div class="toolbar toolbar-top">
        <div class="toolbar-inner">
            <div class="left"><a href="#" class="link sheet-close">بازگشت</a></div>
            <div class="right"></div>
        </div>
    </div>
    <div class="sheet-modal-inner">
        <div class="page-content" style="height: 500px;">
            <div class="block">
                <div class="list no-hairlines-md">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">جستجو</div>
                                <div class="item-input-wrap">
                                    <input id="query" type="text" placeholder="اینجا تایپ کنید ...">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>